<h1>計算結果</h1>



<% if @transaction == "addition" || @transaction == "subtraction" || @transaction == "multiplication" || @transaction == "division" %>

    <div class = "blue">
        <%= "#{@moji1} #{@operater} #{@moji2} = #{@result}" %>
    </div>

<% else %>

    <div class = "red">
        <%= @another %>
    </div>

<% end %>
